<a href="{{ path('words_show', {slug: word.slug }) }}" class="card">
    <h2 class="card-title">{{ word.name }} || ID:{{ word.id }}</h2>
    {% include('categories/includes/category.html.twig') %}
</a>