<div class="flex space-x-4 justify-center">
    {#        <img src="{{ asset('uploads/like.png') }}" class="h-32 mx-2 emoji" alt="Smiley content"> #}
    {#        <img src="{{ asset('uploads/en-colere.png') }}" class="h-32 mx-2 emoji" alt="Smiley content"> #}

    <div class="face happy">
        <div class="face-happy">
            <div class="eyes">
                <div class="eye"></div>
                <div class="eye"></div>
            </div>
            <span class="mouth tounge"></span>
        </div>
    </div>

    <div class="face angry">
        <div class="face-standard">
            <div class="eyebrows">
                <div class="eyebrow"></div>
                <div class="eyebrow"></div>
            </div>
            <div class="eyes">
                <div class="eye"></div>
                <div class="eye"></div>
            </div>
            <span class="mouth-angry tounge"></span>
        </div>
    </div>
</div>