.random {
  &-border {
    $num-colors: 1000;

    @for $i from 0 to $num-colors {
      &:nth-child(#{$i}) {
        border-color: rgb(random(255), random(255), random(255));
      }

      &:nth-child(#{$i}):hover {
        box-shadow: 0 25px 50px -12px rgba(random(255), random(255), random(255), 0.25);
      }
    }
  }
}