@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@400;700&display=swap');
@import "components/index";

body, input, a, button, label {
  font-family: 'Poppins', sans-serif;
}

.cta {
  @apply rounded-md border border-transparent bg-green-500 py-2 px-4 text-xl font-bold text-white hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition duration-300;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #111827 inset;
}

input:-webkit-autofill{
  -webkit-text-fill-color: white;
}